* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.sidebar {
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 10px;
    grid-row: 2 / 3;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    grid-column: 2 / 4;
}

button {
    width: 200px;
    cursor: pointer;
    background: none;
}

.projects {
    background: none;
    border: none;
}

.projects:hover {
    cursor: default;
}
.active {
    background-color: blue;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
    padding: 5px;
    height: 30px;
    margin-right: auto;
    border: 1px solid black;
}

#priorityLow, #priorityMedium, #priorityHigh {
    width: 60px;
    height: 20px;
}

.priority, .complete{
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.priority {
    background-color: gray;
}

.edit {
    width: 30px;
    height: 20px;
}

.hidden {
    display: none;
}

dialog {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 250px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog::backdrop {
    filter: blur(8px);
}

.priorities {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.priorities > div {
    display: flex;
    gap: 10px;
}
